<html>
    <head><Title>Wine Class Predictor</Title>
    </head>
    <body>
        <h1>Prediction Of Wine Quality </h1>
        <form action="/predict" method='POST'>
            <label>alcohol</label> <input type="text" name= 'alcohol'> <br><br>
            <label>malic_acid</label> <input type="text" name='malic_acid'>
            <label>ash</label> <input type="text" name='ash'> <br><br><br><br>
            <label>alcalinity_of_ash</label> <input type="text" name='alcalinity_of_ash'>
            <label>magnesium</label> <input type="text" name= 'magnesium'> <br><br><br>
            <label>total_phenols</label> <input type="text" name='total_phenols'>
            <label>flavanoids</label> <input type="text" name='flavanoids'> <br><br><br>
            <label>nonflavanoid_phenols</label> <input type="text" name='nonflavanoid_phenols'> 
            <label>proanthocyanins</label> <input type="text" name='proanthocyanins'> <br><br><br>
            <label>color_intensity</label> <input type="text" name='color_intensity'> 
            <label>hue</label> <input type="text" name='hue'> <br><br><br>
            <label>diluted_wine</label> <input type="text" name='diluted_wine'>
            <label>proline</label> <input type="text" name='proline'> <br><br><br>
            <input type="submit">{{pred}}
        </form>
    </body>













</html>